@model Exam_ASP_NET.ViewModels.AdminPanelVM;
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
    var title = "Create a new Purchase";
}

<form method="post" enctype="multipart/form-data" asp-action="Upset">
    @if (Model.Purchase.Id != 0)
    {
        title = "Edit Purchase";
        <input asp-for="Purchase.Id" hidden>
    }
    <h2 class="mb-3">@title</h2>
    <div>
        <div>
            <input asp-for="Purchase.Name" placeholder="Name" class="form-control col-8">
            <span asp-validation-for="Purchase.Name" class="offset-4 text-danger"></span>
        </div>
        <div>
            <input asp-for="Purchase.Link" placeholder="Link" class="form-control col-8">
            <span asp-validation-for="Purchase.Link" class="offset-4 text-danger"></span>
        </div>
        <div>
            <select asp-for="Purchase.CategoryId" asp-items="@Model.Categories" class="form-control col-8">
                <option selected disabled>---Select Category---</option>
            </select>
            <span asp-validation-for="Purchase.CategoryId" class="offset-4 text-danger"></span>
        </div>
        <div>
            <input type="file" name="files" class="form-control col-8">
            <span asp-validation-for="Purchase.Image" class="offset-4 text-danger"></span>
        </div>
    </div>
    <div class="form-group d-flex justify-content-between w-100">
        <div class="col-6 p-1">
            @{
                if (Model.Purchase.Id != 0)
                {
                    // Update
                    <input type="submit" class="btn btn-info w-100" value="Update">
                }
                else
                {
                    // Create
                    <input type="submit" class="btn btn-primary w-100" value="Create">
                }
            }
        </div>
        <div class="col-6 p-1">
            <a asp-action="AdminPanel" class="btn btn-secondary w-100">Back</a>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}

